body { 
padding-top: 30px;
}
.footer {
position: absolute;
width: 100%;
/* Set the fixed height of the footer here */
height: 60px;
background-color: #f5f5f5;
}
.container .text-muted {
margin: 20px 0;
}
.inner {
background-color: lightyellow;
}
.pro {
background-color: lightgreen;
}
.con {
background-color: salmon;
}

